/**************************************************************************/
/*  {{classname}}.cpp                                                     */
/**************************************************************************/
/*                         This file is part of:                          */
/*                             GODOT ENGINE                               */
/*                        https://godotengine.org                         */
/**************************************************************************/
/* Copyright (c) 2014-present Godot Engine contributors (see AUTHORS.md). */
/* Copyright (c) 2007-2014 Juan Linietsky, Ariel Manzur.                  */
/*                                                                        */
/* Permission is hereby granted, free of charge, to any person obtaining  */
/* a copy of this software and associated documentation files (the        */
/* "Software"), to deal in the Software without restriction, including    */
/* without limitation the rights to use, copy, modify, merge, publish,    */
/* distribute, sublicense, and/or sell copies of the Software, and to     */
/* permit persons to whom the Software is furnished to do so, subject to  */
/* the following conditions:                                              */
/*                                                                        */
/* The above copyright notice and this permission notice shall be         */
/* included in all copies or substantial portions of the Software.        */
/*                                                                        */
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,        */
/* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF     */
/* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. */
/* IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY   */
/* CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,   */
/* TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE      */
/* SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.                 */
/**************************************************************************/

#include "{{classname}}.h"

void {{classname}}::_bind_methods() {
    {{#models}}
        {{#model}}
            {{#vars}}
    ClassDB::bind_method(D_METHOD("get_{{name}}"), &{{classname}}::get_{{name}});
    ClassDB::bind_method(D_METHOD("set_{{name}}", "p_value"), &{{classname}}::set_{{name}});
    // TODO: fire 20240624 Fix type of the property.
    ADD_PROPERTY(PropertyInfo({{dataType}}, "{{name}}"), "set_{{name}}", "get_{{name}}");
            {{/vars}}
        {{/model}}
    {{/models}}
}

{{#models}}
{{#model}}
{{#vars}}
{{dataType}} {{classname}}::get_{{name}}() const {
    return {{name}};
}

void {{classname}}::set_{{name}}({{dataType}} p_value) {
    {{name}} = p_value;
}

{{/vars}}
{{/model}}
{{/models}}
{{classname}}::{{classname}}() {
}
